<div class="container">
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Nome</mat-label>
    <input matInput placeholder="preencha o nome do filme" [(ngModel)]="model.name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Pontuação IMDB</mat-label>
    <input matInput placeholder="preencha o nível do usuario" [(ngModel)]="model.imdb_score" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Diretor</mat-label>
    <input matInput placeholder="preencha o cargo do usuario" [(ngModel)]="model.director" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Gênero</mat-label>
    <input matInput placeholder="preencha o setor do usuario" [(ngModel)]="model.genre" required>
  </mat-form-field>

  <mat-checkbox color="warn" [(ngModel)]="model.is_on_netflix">
    <mat-label>Está na netflix ? </mat-label>
  </mat-checkbox>

  <div class="toolbar___form">
    <button mat-raised-button routerLink="/filmes">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>